#header {
    .centered {
        position: absolute;
        left: 50%;
        bottom: 0;
    }
    .nav-button {
        position: absolute;
        top: 8px;
        right: 35px;
        cursor: pointer;
        a {
            color: #333;
            i {
                font-size: 40px;
            }
            &::after {
                border: none;
            }
        }
        .dropdown-menu {
            right: 0;
            left: inherit;
        }
        .authed {
            img {
                width: 100px;
                margin: auto;
                display: block;
            }
            .link {
                text-align: center;
            }
        }
    }
    aside {
        position: absolute;
        right: 0;
        width: 0;
        background-color: blue;
        height: 100%;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        &.open {
            width: 300px;
        }
    }
    .links {

    }
    #modal {
        &.show {
            display: block;
        }
    }
}