.modal {
    .hr-title {
        padding: 20px 0px;
    }
    button {
        display: block;
        margin: auto;
        &.btn-facebook {
            background-color: #4968AD;
            color: #FFF;
        }
        &.login {
            margin-top: 3.5%;
        }
    }
}