.modal {
    .hr-title {
        padding: 20px 0px;
    }
    .btn-toolbar {
        margin: 0 auto;
        width: 220px;
        .btn-facebook {
            background-color: #4968AD;
            color: #FFF;
        }
    }
}