#sidebar {
    position: fixed;
    height: 100%;
    background-color: #39CCCC;
    top: 3.5rem;
    width: 300px;
    aside {
        position: relative;
        top: 100px;
        display: flex;
        justify-content: center;

        form {
            button {
                margin-left: 1em;
            }
        }
    }
}