<div ng-controller="HeaderCtrl">
  <div class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="logo">
      <h1>Eat Me Up</h1>
    </div>
    <div class="nav-button dropdown">
      <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"><i class="icon ion-md-menu"></i></a>
      <div class="dropdown-menu">
        <div class="authed" ng-if="isAuthenticated()">
          <img ng-src="{{currentUser.picture || currentUser.gravatar}}">
          <p class="text-center">{{currentUser.name || currentUser.email || currentUser.id}}</p>
          <li class="link">
            <a class="dropdown-item" href data-toggle="modal" data-target="#place-modal">Add a place</a>
          </li>
          <li class="link">
            <a href class="dropddown-item nav-link" ng-click="signOut()">Sign Out</a>
          </li>
        </div>
        <div class="links" ng-if="!isAuthenticated()">
          <li class="link">
            <a class="dropdown-item" href data-toggle="modal" data-target="#signup-modal">Signup</a>
          </li>
          <li class="link">
            <a class="dropdown-item" href data-toggle="modal" data-target="#login-modal">Login</a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <!-- Signup Modal -->
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    ng-controller="SignupCtrl">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="panel">
            <div class="panel-body">
              <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
              </div>
              <form ng-submit="signup()">
                <legend>Create an account</legend>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" placeholder="Name" class="form-control" ng-model="user.name" autofocus>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password">
                </div>
                <div class="btn-toolbar">
                  <button type="submit" class="btn btn-success">Create account</button>
                </div>
              </form>
              <div class="text-center hr-title"><span>or</span></div>
              <div class="btn-toolbar text-center">
                <button class="btn btn-facebook" ng-click="authenticate('facebook')" data-dismiss="modal">Sign in with
                  Facebook</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    ng-controller="LoginCtrl">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="panel">
            <div class="panel-body">
              <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
              </div>
              <form ng-submit="login()">
                <legend>Log In</legend>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" placeholder="Email" class="form-control" ng-model="user.email"
                    autofocus>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                    ng-model="user.password">
                </div>
                <div class="form-group"><a href="/forgot"><strong>Forgot your password?</strong></a></div>
                <button type="submit" class="btn btn-success">Log in</button>
              </form>
              <div class="btn-toolbar text-center">
                <button class="btn btn-facebook login" ng-click="authenticate('facebook')" data-dismiss="modal">Log in
                  with Facebook</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Place Modal -->
  <div class="modal fade" id="place-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    ng-controller="LoginCtrl">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a place</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="panel">
            <div class="panel-body">
              <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
              </div>
              <form ng-submit="addPlace(place)">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name" id="name" placeholder="Name" class="form-control" ng-model="place.name"
                    autofocus required>
                </div>
                <div class="form-group">
                  <label>Cuisine</label>
                  <select class="form-control" name="cuisine" id="cuisine" ng-model="place.cuisine" required>
                    <option value="indisk">Indisk</option>
                    <option value="orientalisk">Orientalisk</option>
                    <option value="husmanskost">Husmanskost</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Is it a chain restaurant?</label>
                  <div class="col-xs-2">
                    <label class="switch">
                      <input type="checkbox" ng-model="place.chain">
                      <span class="slider"></span>
                    </label>
                  </div>
                </div>
                <div class="form-group address">
                  <label>Address</label>
                  
                  <input type="text" name="street" placeholder="Address" class="form-control" ng-model="place.address.street"
                     required>
                     <input type="text" name="city" placeholder="City" class="form-control a1" ng-model="place.address.city"
                     required>
                  <input type="text" name="address" placeholder="Postal Code" class="form-control a2" ng-model="place.address.postCode" pattern="^[A-Za-z0-9]{2,4}\s[A-Za-z0-9]{2}$"
                     required title="Please write a valid Swedish post code">
                </div>
                <button type="submit" class="btn btn-success">Add Place</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>